---
import Whatsapp from "../components/icons/whatsapp.astro";
import Layout from "../layouts/Layout.astro";
import Packs from "../layouts/Packs.astro";
import Header from "../layouts/Header.astro";
---

<Layout title="COSMO.">
	<header class="flex items-center justify-center" id="inicio">
		<Header />
	</header>
	<main>
		<Packs />
	</main>
	<footer
		class="flex items-center justify-center flex-col gap-3 text-white p-12"
	>
		<hr class="size-1 w-3/5 rounded-full text-white/50" />
		<h2 class="text-2xl font-bold pt-4">
			Necesitas un servicio de <strong class="text-yellow-500">DJ</strong>
		</h2>
		<a href="#" class="flex items-center gap-2 z-50">
			<Whatsapp />
			<h2 class="text-xl">Contactanos!</h2>
		</a>
		<p class="text-slate-700 z-50">
			© 2024 <a href="https://www.instagram.com/reset_cdm/" target="_blank" class="hover:text-yellow-500 transition-all duration-300"
				>Tomas Gomez</a
			>. Casi todos los derechos reservados
		</p>
	</footer>
</Layout>

<style>
	.background-image {
		background: url(/public/partybackground.webp);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
