---
import PackageMax from "../components/icons/packageMax.astro";


---

<section class="backgroundImage w-full flex items-center justify-center relative p-6">
    <div class="bg-gradient-to-tr from-black/60 to-black/60 size-full absolute"></div>
    <div class="flex items-center justify-center flex-col text-white gap-8 p-2 pt-20 text-center z-10">
        <PackageMax class="size-48" />
        <h2 class="text-4xl md:text-5xl">Packs de musica</h2>
        <p class="text-xl text-pretty">
            Estrategias de trabajo transparentes para elevar tu música a
            nuevas alturas
        </p>
    </div>

    <style>
        .backgroundImage {
            background-image: url(/public/background.webp);
            background-repeat: none;
            background-position: center;
            background-size: cover;
        }
    </style>
</section>
