---
import "@fontsource-variable/montserrat";

import Nav from "./Nav.astro";

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="relative h-full w-full bg-black">
		<div
			class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
		>
		</div>
	</body>
	<Nav />
	<slot />
</html>

<style is:global>
	html {
		font-family: "Montserrat Variable", system-ui, sans-serif;
		background: #0b0b0c;
		scroll-behavior: smooth;
	}
</style>
