---
import Pack from "../components/pack.astro";
import Package from "../components/icons/package.astro";
---

<section class="text-white flex justify-center p-4 flex-col gap-5 items-center m-5">
    <div class="flex items-center justify-center gap-2 z-20 p-4 m-4">
        <Package class="size-12"/>
        <h2 class="text-4xl md:text-6xl font-semibold tracking-wide">Packs de musica</h2>
    </div>
    <div class="z-20">
        <Pack />
    </div>
</section>
